body {
text-align: center;
}

header {
background-color: #F15B31;
color:#ffffff;
padding: 30px 20px;
margin: 0;
}

main {
width: 850px;
margin: 35px auto;
}

nav {
background-color: #00a6b3;
color: #ffffff;
padding: 20px;
}
img {
margin: 40px 8px 0 8px;
}

h1, h2, a {
text-transform: uppercase;
font-family: "Raleway", sans-serif;
letter-spacing: 1px;
}

a, p {
font-size: 18px;
text-decoration: none;
}

h1 {
font-weight: 400;
font-size: 45px;
margin: 0;
}

h2 {
font-size: 20px;
color: #0D2C40;
}

a{
color: #ffffff;
font-weight: 600;
margin: 0 20px;
border-bottom: 2px solid transparent;
}

a:hover {
border-color: white;
}

p {
font-family: "Droid Serif", serif;
line-height: 26px;
}

footer {
padding: 20px;
background-color: #0d2c40;
color: white;
font-size: 14px;
letter-spacing: .08em;
font-weight: 500;

}

.message {
float: right;
}

.copyright{
float: left;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
color: #f15b31;
font-weight: 700;
}